<div class="page-title">User / Edit User</div>
<div class="container col-sm-6">
  <div class="card">
    <div class="card-header">Edit User</div>
    <form role="form" [formGroup]="formGroup">
      <div class="card-body">
        <div class="form-group row mb-3">
          <label class="col-sm-4 col-form-label">Username </label>
          <div class="col-sm-8">
            <input
              type="text"
              readonly
              class="form-control form-control-sm"
              formControlName="Username"
            />
          </div>
        </div>

        <div class="form-group row mb-3">
          <label class="col-sm-4 col-form-label"
            >First Name <span class="required">*</span></label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="Firstname"
            />
          </div>
        </div>

        <div class="form-group row mb-3">
          <label class="col-sm-4 col-form-label"
            >Last Name <span class="required">*</span></label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="Lastname"
            />
          </div>
        </div>

        <div class="form-group row mb-3">
          <label class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="Email"
            />
          </div>
        </div>

        <div class="form-group row mb-3">
          <label class="col-sm-4 col-form-label">Active </label>
          <div class="col-sm-8">
            <select
              class="form-control form-control-sm"
              autocomplete="off"
              id="isactive"
              formControlName="Active"
            >
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-footer bg-transparent text-right">
        <button
          type="button"
          (click)="onOpenDialog()"
          class="btn btn-primary btn-sm m-1"
        >
          Reset Password
        </button>
        <button
          type="button"
          (click)="onSubmit()"
          class="btn btn-primary btn-sm m-1"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
<p-toast [baseZIndex]="5000"></p-toast>
<p-dialog
  [(visible)]="isOpenDialog"
  [style]="{ width: '30vw' }"
  [modal]="true"
  header="Reset Password"
>
  <div class="form-group row mb-3">
    <label class="col-sm-4 col-form-label"
      >Password <span class="required">*</span></label
    >
    <div class="col-sm-8">
      <input
        type="password"
        class="form-control form-control-sm"
        [(ngModel)]="Password"
      />
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-sm-4 col-form-label"
      >Retype Password <span class="required">*</span></label
    >
    <div class="col-sm-8">
      <input
        type="password"
        class="form-control form-control-sm"
        [(ngModel)]="Retypepassword"
      />
    </div>
  </div>
  <div class="card-footer bg-transparent text-right">
    <button
      type="button"
      (click)="onPasswordReset()"
      class="btn btn-primary btn-sm m-1"
    >
      Submit
    </button>
  </div>
</p-dialog>
