<div class="page-title">User / Search User</div>
<div class="m-2">
  <div class="col-sm-12 center">
    <div class="col-md-12 text-right">
      <button
        type="button"
        class="btn btn-outline-primary btn-sm m-1"
        (click)="onAddnewUser()"
      >
        Add new User
      </button>
    </div>

    <p-table
      #table
      [value]="items"
      responsiveLayout="scroll"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
        <tr>
          <th>
            <input
              class="form-control form-control-sm p-search"
              type="text"
              (input)="
                table.filter($event.target.value, 'Username', 'contains')
              "
            />
          </th>

          <th>
            <input
              class="form-control form-control-sm p-search"
              type="text"
              (input)="
                table.filter($event.target.value, 'Firstname', 'contains')
              "
            />
          </th>
          <th>
            <input
              class="form-control form-control-sm p-search"
              type="text"
              (input)="
                table.filter($event.target.value, 'Lastname', 'contains')
              "
            />
          </th>
          <th>
            <input
              class="form-control form-control-sm p-search"
              type="text"
              (input)="table.filter($event.target.value, 'Email', 'contains')"
            />
          </th>
          <th>
            <input
              class="form-control form-control-sm p-search"
              type="text"
              (input)="table.filter($event.target.value, 'Active', 'contains')"
            />
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.Username }}</td>
          <td>{{ item.Firstname }}</td>
          <td>{{ item.Lastname }}</td>
          <td>{{ item.Email }}</td>
          <td>{{ item.Active }}</td>
          <td style="width: 40px">
            <a title="Edit" routerLink="/user/edituser/{{ item.Guid }}"
              ><i class="fa fa-edit text-secondary fa-2x"></i></a
            >&nbsp;
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
